.min_100_vh {
    min-height: calc(100vh - 174.91px);
    margin-top: 86.91px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemlistcontainer {
    width: 85%;
    text-align: center;
}