header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #dd2c8c;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  
}
nav .brand {
  padding: .8rem;
  font-size: 2rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: flex;
  flex-direction: row;
  padding: .8rem;
  align-items: center;
  font-size: 1.2rem;
}
nav a {
  text-decoration: none;
  color: white;
  transition: color .2s ease-in-out;
}
nav a:hover {
  color: #0080B8;
}